
<section class="container">
  <div class="content">
    
    <div class="title">
      <span class="subtitle">Subtitle will go here</span>
      <!-- <app-header></app-header> -->
      <h1>Title copy goes here</h1>
    </div>
    <div class="habit-panel">
      <div>
        <app-habit></app-habit>
      </div>
    </div>
    <div class="cal">
      <div>
        <button class="fab"(click)="toggleModal()">+</button>
        <div class="modal-overlay" *ngIf="isModalOpen" (click)="toggleModal()">
          <div class="modal-content"(click)="$event.stopPropagation()">
            <button class="close-btn"(click)="toggleModal()">X</button>
            <app-add-habit></app-add-habit>
          </div>
        </div>
      </div>
      <div class="calendar-container-wrapper">
      <app-calendar></app-calendar>
      </div>
    </div> 
  </div>
</section>